/* :root {

} */
/* 
::selection {

} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  margin: 0 50px 40px 80px;
}

body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #fdf8f5;
  color: #4f4846;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: inline; */
  padding: 15px 30px 15px 0;
  background: #13293d;
  color: #fff;
}

header h1 {
  font-size: 50px;
  padding: 5px 20px 5px 70px;
  background: pink;
}
.backgroundimg {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("pexels-anete-lusina-6331028.jpg");
  background-size: cover;
  background-position: center;
}

nav li {
  display: inline;
  margin: 20px 10px;
  list-style-type: none;
  border-bottom: 5px solid purple;
}

a {
  color: #fdf8f5;
  text-decoration: none;
}


.subheader {
  position: absolute;
  top: 0;
  right: 0;
}

.relative {
  position: relative;
}
.aboutmesect {
  display: flex;
  margin-bottom: 5%;
  /* height: 300px; */

  /* padding: 100px; */
}
.aboutmesect h3 {
  /* margin-right: 50px;
margin-left: 115px; */

  /* background-color: lightgrey; */
}
.aboutmecontent {
  display: flex;
  margin-left: 5px;
  border-left: 6px solid red;
}
.worksect {
  display: flex;
  margin-bottom: 5%;
}
.workcontent {
 position: relative;
  margin-left: 5px;
  border-left: 6px solid red;
  
}
h3 {
  font-size: 65px;
}

.profilepic {
  width: 20%;
  margin: 0 15px 0 15px;
  border: 6px solid red;
  align-self: center;
}
.workcontent img {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 200px;
  margin-left: 25px;
}
#homework1 {
flex-grow: 4;
width: 100%;
height: 70%;
order: 1;
}


/* Desktop view */

@media screen and (min-width: 992px) {
}

/* Large smartphones -*/
@media screen and (min-width: 577px) and (max-width: 991px) {
  header {
    flex-direction: column;
  }
  header h1 {
    font-size: 30px;
    display: inline;
    padding: 4px;
  }
  nav li {
    margin: 10px 5px;
  }
  nav {
    margin: 2px;
  }
  .backgroundimg {
    height: 100px;
  }
  .aboutmesect{
    flex-direction: column;
    align-items: center;
  }
  .aboutmecontent {
    border-left: none;
    margin-top: 15px;
  }
  .profilepic {
    width: 25%;
  }
  main {
    margin: 10px;
  }
  h3 {
    border-bottom: 6px solid red;
    /* align-items: center; */
  }
  .worksect {
    flex-direction: column;
    align-items: center;
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
  }
  header h1 {
    font-size: 30px;
    display: inline;
    padding: 4px;
  }
  nav li {
    margin: 10px 5px;
  }
  nav {
    margin: 2px;
  }
  .backgroundimg {
    height: 100px;
  }
  .aboutmesect {
    flex-direction: column;
    align-items: center;
    
  }
  .aboutmecontent {
    border-left: none;
    margin-top: 15px;
    flex-direction: column;
  }
  .profilepic {
    width: 40%;
    margin-bottom: 5%;
  }
  h3 {
    font-size: 150%;
    align-items: center;
    border-bottom: 6px solid red;
  }
  main {  
    margin: 5px;
  }
  .worksect {
    flex-direction: column;
    align-items: center;
  }
}
